html
  head
  body
    div.fb-root
    div#nav
       div.nav-el
       My Matches
       div.nav-el
       My Friends
    div#content
    script(src="js/main.js")
    script(src="js/fbinit.js")
      